.table tbody tr:hover {
    background-color: #E1E5EE;
}

.table tbody tr:active {
    background-color: #E1E5EE;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.delete-button {
    background: var(--red-color) !important;
}

.table-title {
    font-size: 1.3em;
    color: var(--university-green-color);
    font-weight: 900;
    margin: 30px 0 12px 10px;
}

.last-table {
    margin-bottom: 30px;
}